* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-dan.dan.acx -text
/apertium-dan.dan.dix -text
/apertium-dan.dan.rlx -text
/apertium-dan.pc.in -text
/autogen.sh -text
/configure.ac -text
/dan-nor.prob -text
/modes.xml -text
